<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite"  parallel="classes" thread-count="4">
	<test name="Verify Deduction tab is available after Login">
		<classes>
			<class name="com.testrunners.TestRunner">				
			</class>
			
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->